ACTION=="add",KERNEL=="ttyUSB*",SUBSYSTEM=="tty", SUBSYSTEMS=="usb",  ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{product}=="USB-Quad Serial Conv for Right", SYMLINK+="PMXforID_08_09_10", MODE="0777",RUN+="/bin/sh -c 'echo 1 > /sys/bus/usb-serial/devices/$kernel/latency_timer'"
ACTION=="add",KERNEL=="ttyUSB*",SUBSYSTEM=="tty", SUBSYSTEMS=="usb",  ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="02", ATTRS{product}=="USB-Quad Serial Conv for Right", SYMLINK+="PMXforID_07_05_06_04", MODE="0777",RUN+="/bin/sh -c 'echo 1 > /sys/bus/usb-serial/devices/$kernel/latency_timer'"
ACTION=="add",KERNEL=="ttyUSB*",SUBSYSTEM=="tty", SUBSYSTEMS=="usb",  ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="03", ATTRS{product}=="USB-Quad Serial Conv for Right", SYMLINK+="PMXforID_03_01_02+RightFootSensor", MODE="0777",RUN+="/bin/sh -c 'echo 1 > /sys/bus/usb-serial/devices/$kernel/latency_timer'"
ACTION=="add",KERNEL=="ttyUSB*",SUBSYSTEM=="tty", SUBSYSTEMS=="usb",  ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{product}=="USB-Quad Serial Conv for Left", SYMLINK+="PMXforID_13_11_12+LeftFootSensor", MODE="0777",RUN+="/bin/sh -c 'echo 1 > /sys/bus/usb-serial/devices/$kernel/latency_timer'"
ACTION=="add",KERNEL=="ttyUSB*",SUBSYSTEM=="tty", SUBSYSTEMS=="usb",  ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{product}=="USB-Quad Serial Conv for Left", SYMLINK+="PMXforID_17_15_16_14", MODE="0777",RUN+="/bin/sh -c 'echo 1 > /sys/bus/usb-serial/devices/$kernel/latency_timer'"
ACTION=="add",KERNEL=="ttyUSB*",SUBSYSTEM=="tty", SUBSYSTEMS=="usb",  ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="02", ATTRS{product}=="USB-Quad Serial Conv for Left", SYMLINK+="PMXforID_21", MODE="0777",RUN+="/bin/sh -c 'echo 1 > /sys/bus/usb-serial/devices/$kernel/latency_timer'"
ACTION=="add",KERNEL=="ttyUSB*",SUBSYSTEM=="tty", SUBSYSTEMS=="usb",  ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="03", ATTRS{product}=="USB-Quad Serial Conv for Left", SYMLINK+="PMXforID_18_19_20", MODE="0777",RUN+="/bin/sh -c 'echo 1 > /sys/bus/usb-serial/devices/$kernel/latency_timer'"
ACTION=="add",KERNEL=="ttyUSB*",SUBSYSTEM=="tty", SUBSYSTEMS=="usb",  ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="00", ATTRS{product}=="USB-Quad Serial Conv for Sensor", SYMLINK+="Power-Logging-Board", MODE="0777",RUN+="/bin/sh -c 'echo 4 > /sys/bus/usb-serial/devices/$kernel/latency_timer'"
ACTION=="add",KERNEL=="ttyUSB*",SUBSYSTEM=="tty", SUBSYSTEMS=="usb",  ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="01", ATTRS{product}=="USB-Quad Serial Conv for Sensor", SYMLINK+="Control-Switches-Board", MODE="0777",RUN+="/bin/sh -c 'echo 8 > /sys/bus/usb-serial/devices/$kernel/latency_timer'"
ACTION=="add",KERNEL=="ttyUSB*",SUBSYSTEM=="tty", SUBSYSTEMS=="usb",  ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="02", ATTRS{product}=="USB-Quad Serial Conv for Sensor", SYMLINK+="Audio-Board", MODE="0777",RUN+="/bin/sh -c 'echo 16 > /sys/bus/usb-serial/devices/$kernel/latency_timer'"
